<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iencriptar" />
                <binding name="BasicHttpBinding_Ifibonacci" />
                <binding name="BasicHttpBinding_Idesencriptar" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1795/servicio_E.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Iencriptar" contract="Encriptar_SR.Iencriptar"
                name="BasicHttpBinding_Iencriptar" />
            <endpoint address="http://localhost:1795/servicio_F.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Ifibonacci" contract="Fibonacci_SR.Ifibonacci"
                name="BasicHttpBinding_Ifibonacci" />
            <endpoint address="http://localhost:1795/servicio_D.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Idesencriptar" contract="Desencriptar_SR.Idesencriptar"
                name="BasicHttpBinding_Idesencriptar" />
        </client>
    </system.serviceModel>
</configuration>